extends layout

block content
  h1= title
  script(src="/javascripts/indexscript.js")
  p Welcome to #{title}
  button(onclick="clickfunc()") Click
  ul
    each val in games
      table.game
        tr
          td.teampic
          td.teamname Hemmalag
          td.teamscore
          td.date= val.date.toLocaleDateString()
          td.teamscore
          td.teamname Bortalag
          td.teampic
        tr
        tr
          td.teampic bild
          td.teamname= val.homeTeamName
          td.teamscore= val.homeTeamScore
          td.date#center -
          td.teamscore= val.awayTeamScore
          td.teamname= val.awayTeamName
          td.teampic bild

