extends layout



mixin makegames(game)
  -
  table.game
    tr
      td.teampic
      td.teamname Hemmalag
      td.teamscore
      td.date= game.date.toLocaleDateString()
      td.teamscore
      td.teamname Bortalag
      td.teampic
    tr
    tr
      td.teampic bild
      td.teamname= game.homeTeamName
      td.teamscore= game.homeTeamScore
      td.date#center -
      td.teamscore= game.awayTeamScore
      td.teamname= game.awayTeamName
      td.teampic bild

block content

  script.
    var gamedata = !{gamesjson};
  h1= title
  script(src="/javascripts/indexscript.js")
  p Welcome to #{title}
  button(onclick="clickfunc()") Click
  ul#gamelist
    each val in games
      +makegames(val)


